# coding: utf-8

"""
    Data Streaming - OpenAPI

    The Data Streaming API allows you to manage your existing data streamings and templates. Data Streaming allows you to feed your stream processing, SIEM, and big data platforms with the event logs from your applications on Azion in real time. 

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError
from typing_extensions import Annotated

from pydantic import Field, StrictBool, StrictInt, StrictStr

from typing import Optional

from data_streaming.models.data_streamings_domain_response import DataStreamingsDomainResponse

from data_streaming.api_client import ApiClient
from data_streaming.api_response import ApiResponse
from data_streaming.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class DataStreamingDomainApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def list_data_streaming(self, name : Annotated[Optional[StrictStr], Field(description="Domain's name in data streaming")] = None, streaming_id : Optional[StrictInt] = None, selected : Optional[StrictBool] = None, **kwargs) -> DataStreamingsDomainResponse:  # noqa: E501
        """List all domains used on data streaming  # noqa: E501

        Use the GET method to list all available domains that can be used on Data Streaming operations.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_data_streaming(name, streaming_id, selected, async_req=True)
        >>> result = thread.get()

        :param name: Domain's name in data streaming
        :type name: str
        :param streaming_id:
        :type streaming_id: int
        :param selected:
        :type selected: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DataStreamingsDomainResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            raise ValueError("Error! Please call the list_data_streaming_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data")
        return self.list_data_streaming_with_http_info(name, streaming_id, selected, **kwargs)  # noqa: E501

    @validate_arguments
    def list_data_streaming_with_http_info(self, name : Annotated[Optional[StrictStr], Field(description="Domain's name in data streaming")] = None, streaming_id : Optional[StrictInt] = None, selected : Optional[StrictBool] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """List all domains used on data streaming  # noqa: E501

        Use the GET method to list all available domains that can be used on Data Streaming operations.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_data_streaming_with_http_info(name, streaming_id, selected, async_req=True)
        >>> result = thread.get()

        :param name: Domain's name in data streaming
        :type name: str
        :param streaming_id:
        :type streaming_id: int
        :param selected:
        :type selected: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the 
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DataStreamingsDomainResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'name',
            'streaming_id',
            'selected'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_data_streaming" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('name') is not None:  # noqa: E501
            _query_params.append(('name', _params['name']))

        if _params.get('streaming_id') is not None:  # noqa: E501
            _query_params.append(('streaming_id', _params['streaming_id']))

        if _params.get('selected') is not None:  # noqa: E501
            _query_params.append(('selected', _params['selected']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "DataStreamingsDomainResponse",
            '400': None,
            '401': None,
            '403': None,
            '404': None,
            '406': None,
            '429': None,
            '500': None,
        }

        return self.api_client.call_api(
            '/data_streaming/domains', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
