# coding: utf-8

"""
    Edge Application API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

    The version of the OpenAPI document: 2.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from pydantic import Field, StrictInt, StrictStr

from typing import Optional

from edgeapplications.models.create_device_groups_request import CreateDeviceGroupsRequest
from edgeapplications.models.device_groups_id_response import DeviceGroupsIdResponse
from edgeapplications.models.device_groups_response import DeviceGroupsResponse
from edgeapplications.models.patch_device_groups_request import PatchDeviceGroupsRequest
from edgeapplications.models.update_device_groups_request import UpdateDeviceGroupsRequest

from edgeapplications.api_client import ApiClient
from edgeapplications.api_response import ApiResponse
from edgeapplications.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class EdgeApplicationsDeviceGroupsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_delete(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Annotated[Optional[StrictStr], Field(description="The id of the Device Groups that you plan to delete.")] = None, **kwargs) -> None:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_delete(edge_application_id, device_group_id, accept, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept: The id of the Device Groups that you plan to delete.
        :type accept: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the edge_applications_edge_application_id_device_groups_device_group_id_delete_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.edge_applications_edge_application_id_device_groups_device_group_id_delete_with_http_info(edge_application_id, device_group_id, accept, **kwargs)  # noqa: E501

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_delete_with_http_info(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Annotated[Optional[StrictStr], Field(description="The id of the Device Groups that you plan to delete.")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_delete_with_http_info(edge_application_id, device_group_id, accept, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept: The id of the Device Groups that you plan to delete.
        :type accept: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'edge_application_id',
            'device_group_id',
            'accept'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edge_applications_edge_application_id_device_groups_device_group_id_delete" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['edge_application_id']:
            _path_params['edge_application_id'] = _params['edge_application_id']

        if _params['device_group_id']:
            _path_params['device_group_id'] = _params['device_group_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['accept']:
            _header_params['Accept'] = _params['accept']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/edge_applications/{edge_application_id}/device_groups/{device_group_id}', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_get(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Annotated[Optional[StrictStr], Field(description="The id of the Device Groups that you plan to query.")] = None, **kwargs) -> DeviceGroupsIdResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_get(edge_application_id, device_group_id, accept, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept: The id of the Device Groups that you plan to query.
        :type accept: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DeviceGroupsIdResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the edge_applications_edge_application_id_device_groups_device_group_id_get_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.edge_applications_edge_application_id_device_groups_device_group_id_get_with_http_info(edge_application_id, device_group_id, accept, **kwargs)  # noqa: E501

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_get_with_http_info(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Annotated[Optional[StrictStr], Field(description="The id of the Device Groups that you plan to query.")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_get_with_http_info(edge_application_id, device_group_id, accept, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept: The id of the Device Groups that you plan to query.
        :type accept: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DeviceGroupsIdResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'edge_application_id',
            'device_group_id',
            'accept'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edge_applications_edge_application_id_device_groups_device_group_id_get" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['edge_application_id']:
            _path_params['edge_application_id'] = _params['edge_application_id']

        if _params['device_group_id']:
            _path_params['device_group_id'] = _params['device_group_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['accept']:
            _header_params['Accept'] = _params['accept']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json; version=3'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "DeviceGroupsIdResponse",
            '400': None,
            '403': None,
            '404': None,
            '422': None,
            '500': None,
        }

        return self.api_client.call_api(
            '/edge_applications/{edge_application_id}/device_groups/{device_group_id}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_patch(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Optional[StrictStr] = None, content_type : Annotated[Optional[StrictStr], Field(description="The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json")] = None, patch_device_groups_request : Optional[PatchDeviceGroupsRequest] = None, **kwargs) -> DeviceGroupsIdResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_patch(edge_application_id, device_group_id, accept, content_type, patch_device_groups_request, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept:
        :type accept: str
        :param content_type: The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json
        :type content_type: str
        :param patch_device_groups_request:
        :type patch_device_groups_request: PatchDeviceGroupsRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DeviceGroupsIdResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the edge_applications_edge_application_id_device_groups_device_group_id_patch_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.edge_applications_edge_application_id_device_groups_device_group_id_patch_with_http_info(edge_application_id, device_group_id, accept, content_type, patch_device_groups_request, **kwargs)  # noqa: E501

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_patch_with_http_info(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Optional[StrictStr] = None, content_type : Annotated[Optional[StrictStr], Field(description="The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json")] = None, patch_device_groups_request : Optional[PatchDeviceGroupsRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_patch_with_http_info(edge_application_id, device_group_id, accept, content_type, patch_device_groups_request, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept:
        :type accept: str
        :param content_type: The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json
        :type content_type: str
        :param patch_device_groups_request:
        :type patch_device_groups_request: PatchDeviceGroupsRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DeviceGroupsIdResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'edge_application_id',
            'device_group_id',
            'accept',
            'content_type',
            'patch_device_groups_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edge_applications_edge_application_id_device_groups_device_group_id_patch" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['edge_application_id']:
            _path_params['edge_application_id'] = _params['edge_application_id']

        if _params['device_group_id']:
            _path_params['device_group_id'] = _params['device_group_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['accept']:
            _header_params['Accept'] = _params['accept']

        if _params['content_type']:
            _header_params['Content-Type'] = _params['content_type']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['patch_device_groups_request'] is not None:
            _body_params = _params['patch_device_groups_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json; version=3'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json; version=3']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "DeviceGroupsIdResponse",
            '400': None,
            '403': None,
            '404': None,
            '422': None,
            '500': None,
        }

        return self.api_client.call_api(
            '/edge_applications/{edge_application_id}/device_groups/{device_group_id}', 'PATCH',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_put(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Optional[StrictStr] = None, content_type : Annotated[Optional[StrictStr], Field(description="The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json")] = None, update_device_groups_request : Optional[UpdateDeviceGroupsRequest] = None, **kwargs) -> DeviceGroupsIdResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_put(edge_application_id, device_group_id, accept, content_type, update_device_groups_request, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept:
        :type accept: str
        :param content_type: The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json
        :type content_type: str
        :param update_device_groups_request:
        :type update_device_groups_request: UpdateDeviceGroupsRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DeviceGroupsIdResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the edge_applications_edge_application_id_device_groups_device_group_id_put_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.edge_applications_edge_application_id_device_groups_device_group_id_put_with_http_info(edge_application_id, device_group_id, accept, content_type, update_device_groups_request, **kwargs)  # noqa: E501

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_device_group_id_put_with_http_info(self, edge_application_id : StrictInt, device_group_id : StrictInt, accept : Optional[StrictStr] = None, content_type : Annotated[Optional[StrictStr], Field(description="The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json")] = None, update_device_groups_request : Optional[UpdateDeviceGroupsRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups/{device_group_id}  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_device_group_id_put_with_http_info(edge_application_id, device_group_id, accept, content_type, update_device_groups_request, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param device_group_id: (required)
        :type device_group_id: int
        :param accept:
        :type accept: str
        :param content_type: The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json
        :type content_type: str
        :param update_device_groups_request:
        :type update_device_groups_request: UpdateDeviceGroupsRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DeviceGroupsIdResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'edge_application_id',
            'device_group_id',
            'accept',
            'content_type',
            'update_device_groups_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edge_applications_edge_application_id_device_groups_device_group_id_put" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['edge_application_id']:
            _path_params['edge_application_id'] = _params['edge_application_id']

        if _params['device_group_id']:
            _path_params['device_group_id'] = _params['device_group_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['accept']:
            _header_params['Accept'] = _params['accept']

        if _params['content_type']:
            _header_params['Content-Type'] = _params['content_type']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['update_device_groups_request'] is not None:
            _body_params = _params['update_device_groups_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json; version=3'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json; version=3']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "DeviceGroupsIdResponse",
            '400': None,
            '403': None,
            '404': None,
            '422': None,
            '500': None,
        }

        return self.api_client.call_api(
            '/edge_applications/{edge_application_id}/device_groups/{device_group_id}', 'PUT',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_get(self, edge_application_id : StrictInt, page : Optional[StrictInt] = None, page_size : Optional[StrictInt] = None, filter : Optional[StrictStr] = None, order_by : Optional[StrictStr] = None, sort : Optional[StrictStr] = None, accept : Optional[StrictStr] = None, **kwargs) -> DeviceGroupsResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_get(edge_application_id, page, page_size, filter, order_by, sort, accept, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param page:
        :type page: int
        :param page_size:
        :type page_size: int
        :param filter:
        :type filter: str
        :param order_by:
        :type order_by: str
        :param sort:
        :type sort: str
        :param accept:
        :type accept: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DeviceGroupsResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the edge_applications_edge_application_id_device_groups_get_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.edge_applications_edge_application_id_device_groups_get_with_http_info(edge_application_id, page, page_size, filter, order_by, sort, accept, **kwargs)  # noqa: E501

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_get_with_http_info(self, edge_application_id : StrictInt, page : Optional[StrictInt] = None, page_size : Optional[StrictInt] = None, filter : Optional[StrictStr] = None, order_by : Optional[StrictStr] = None, sort : Optional[StrictStr] = None, accept : Optional[StrictStr] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_get_with_http_info(edge_application_id, page, page_size, filter, order_by, sort, accept, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param page:
        :type page: int
        :param page_size:
        :type page_size: int
        :param filter:
        :type filter: str
        :param order_by:
        :type order_by: str
        :param sort:
        :type sort: str
        :param accept:
        :type accept: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DeviceGroupsResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'edge_application_id',
            'page',
            'page_size',
            'filter',
            'order_by',
            'sort',
            'accept'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edge_applications_edge_application_id_device_groups_get" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['edge_application_id']:
            _path_params['edge_application_id'] = _params['edge_application_id']


        # process the query parameters
        _query_params = []
        if _params.get('page') is not None:  # noqa: E501
            _query_params.append(('page', _params['page']))

        if _params.get('page_size') is not None:  # noqa: E501
            _query_params.append(('page_size', _params['page_size']))

        if _params.get('filter') is not None:  # noqa: E501
            _query_params.append(('filter', _params['filter']))

        if _params.get('order_by') is not None:  # noqa: E501
            _query_params.append(('order_by', _params['order_by']))

        if _params.get('sort') is not None:  # noqa: E501
            _query_params.append(('sort', _params['sort']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['accept']:
            _header_params['Accept'] = _params['accept']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json; version=3'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "DeviceGroupsResponse",
            '400': None,
            '403': None,
            '404': None,
            '422': None,
            '500': None,
        }

        return self.api_client.call_api(
            '/edge_applications/{edge_application_id}/device_groups', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_post(self, edge_application_id : StrictInt, accept : Optional[StrictStr] = None, content_type : Annotated[Optional[StrictStr], Field(description="The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json")] = None, create_device_groups_request : Optional[CreateDeviceGroupsRequest] = None, **kwargs) -> DeviceGroupsIdResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_post(edge_application_id, accept, content_type, create_device_groups_request, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param accept:
        :type accept: str
        :param content_type: The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json
        :type content_type: str
        :param create_device_groups_request:
        :type create_device_groups_request: CreateDeviceGroupsRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DeviceGroupsIdResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the edge_applications_edge_application_id_device_groups_post_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.edge_applications_edge_application_id_device_groups_post_with_http_info(edge_application_id, accept, content_type, create_device_groups_request, **kwargs)  # noqa: E501

    @validate_arguments
    def edge_applications_edge_application_id_device_groups_post_with_http_info(self, edge_application_id : StrictInt, accept : Optional[StrictStr] = None, content_type : Annotated[Optional[StrictStr], Field(description="The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json")] = None, create_device_groups_request : Optional[CreateDeviceGroupsRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """/edge_applications/{edge_application_id}/device_groups  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.edge_applications_edge_application_id_device_groups_post_with_http_info(edge_application_id, accept, content_type, create_device_groups_request, async_req=True)
        >>> result = thread.get()

        :param edge_application_id: (required)
        :type edge_application_id: int
        :param accept:
        :type accept: str
        :param content_type: The type of coding used in the Body (application/json). <br>  Example: Content-Type: application/json
        :type content_type: str
        :param create_device_groups_request:
        :type create_device_groups_request: CreateDeviceGroupsRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DeviceGroupsIdResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'edge_application_id',
            'accept',
            'content_type',
            'create_device_groups_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edge_applications_edge_application_id_device_groups_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['edge_application_id']:
            _path_params['edge_application_id'] = _params['edge_application_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['accept']:
            _header_params['Accept'] = _params['accept']

        if _params['content_type']:
            _header_params['Content-Type'] = _params['content_type']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['create_device_groups_request'] is not None:
            _body_params = _params['create_device_groups_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json; version=3'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json; version=3']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "DeviceGroupsIdResponse",
            '400': None,
            '403': None,
            '404': None,
            '415': None,
            '422': None,
            '500': None,
        }

        return self.api_client.call_api(
            '/edge_applications/{edge_application_id}/device_groups', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
